<div class="text-center">
  <h1>Topics</h1>
      <h4 class="media-heading">
        <% @topics.each do |topic| %>
          <%= link_to topic.title, topic %><br>
        <% end %>
      </h4>
    </div>
</div>
