<div class="text-center">
  <div class="row">
    <div class="col-md-12">
      <h1>Topics</h1>
      <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
    </div>
  </div>
      <h4 class="media-heading">
        <% @topics.each do |topic| %>
          <% if topic.user == current_user %>
            <%= link_to topic.title, topic %><br>
            <% end %>
          <% end %>
      </h4>
    </div>
</div>
